*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
input, button{
    padding: 15px;
    margin: 10px;
    border: 1px solid lightgrey;

    cursor: pointer;
    border-radius: 10px;
}
#container{
    width: 300px;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    border: 1px solid black;
}

h1{
    height: 10%;
    padding-bottom: 5px;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid black;
    font-weight:normal;
    
}
#rejouer{
    display: none;
    position: absolute;
    bottom: -80px;
}
h3{
    font-size: 15px;
    font-weight: normal;
}
#btn-content{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}
#level-btn{
    display: flex;
    justify-content: center;
}
#level-btn button:nth-child(1){
    background-color: blue;
    color: white;
}
#level-btn button:nth-child(2){
    background-color: orange;
    color: white;
}
#level-btn button:nth-child(3){
    background-color: red;
    color: white;
}